body {
  margin: 0;
  padding: 0;
  font-family: 'Oxygen', sans-serif;
}

button,
.btn,
.button {
  padding: 8px 14px;
  border: none;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.4);
  cursor: pointer;
  display: inline-block;
  &.button-ghost {
    background: transparent;
    box-shadow: none;
    color: #111;
    &:hover,
    &:focus {
      background: #fcfcfc;
    }
  }
}
